@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Login"]!=null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hi !! </strong> @TempData["Login"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["enter"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hi !! </strong> @TempData["enter"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["add"]!=null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hi !! </strong> @TempData["add"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
